@page "/ProjectList"
@using System.ComponentModel.DataAnnotations;
@using Data;
@using Backend;
@using OutOfOffice.Components.Common;
@using OutOfOffice.Components.Common.CustomComponents;
@using OutOfOffice.Components.Common.Authentication;
@using OutOfOffice.Components.Repository.Interfaces


@inject IProjectRepository projectRepository
@inject IEmployeeRepository employeeRepository

@inject ExtAuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<PageTitle>Employees List</PageTitle>
<button @onclick="@(() => AddProject())">Add Project</button>

<AuthorizeView Roles="HR_MANAGER, PROJECT_MANAGER, ADMINISTRATOR">
    <Authorized Context="innerContext">
        <div class="tab">
            <button class="@MyTabClass" @onclick="@(() => showTable("My"))">My</button>
            <button class="@EmployeesTabClass" @onclick="@(() => showTable("Manage"))">Manage</button>
        </div>
    </Authorized>
</AuthorizeView>
@if (table == "My")
{
    <CustomTableComponent TItem="ProjectData" all_rows=@myProjects2>
        <RowButtons>
            <td><button @onclick="@(() => Update(context.ID))">Update</button></td>
        </RowButtons>
    </CustomTableComponent>
}
else
{
    <CustomTableComponent TItem="ProjectData" all_rows=@projects2>
        <RowButtons>
            <td><button @onclick="@(() => Update(context.ID))">Update</button></td>
            <td><button @onclick="@(() => Deactivate(context.ID))">Deactivate</button></td>
        </RowButtons>
    </CustomTableComponent>
}

@code {
    List<ProjectData> projects2 = new List<ProjectData>();
    List<ProjectData> myProjects2 = new List<ProjectData>();
    int my_id;
    string table = "My";
    string MyTabClass = "active";
    string EmployeesTabClass = "";

    protected override async Task OnInitializedAsync()
    {
        my_id = (int)(await AuthenticationStateProvider.GetYourID());

        switch (await AuthenticationStateProvider.GetRole())
        {
            case UserAuthData.Roles.ADMINISTRATOR:
                projects2 = await projectRepository.GetAllProject();
                break;
            case UserAuthData.Roles.HR_MANAGER:
                projects2 = await projectRepository.GetAllHRManagerEmployeeProject(my_id);
                break;
            case UserAuthData.Roles.PROJECT_MANAGER:
                projects2 = await projectRepository.GetAllProjectForProjectManager(my_id);
                break;
            case UserAuthData.Roles.EMPLOYEE:
                break;
        }

        ProjectData pr = await projectRepository.GetProject(11);
        List<ProjectData> pr2 = await projectRepository.GetAllProject();
        EmployeeData my_employe_data = await employeeRepository.GetById(my_id);
        if (my_employe_data.ProjectInformation != null)
            myProjects2.Add(my_employe_data.ProjectInformation);


        foreach (ProjectData project in projects2)
        {
            if (project.ManagerData != null)
                project.Manager_String = project.ManagerData.Full_Name;
        }

    }

    protected void Update(long id)
    {
        navigationManager.NavigateTo($"/ProjectUpdate/{id}");
    }

    protected async void showTable(string tableName)
    {
        table = tableName;
        if (tableName == "My")
        {
            MyTabClass = "active";
            EmployeesTabClass = "";
        }
        else
        {
            MyTabClass = "";
            EmployeesTabClass = "active";
        }

    }


    protected async Task Deactivate(long project_id)
    {
        ProjectData project = projects2.Where(project => project.ID == project_id).Single();
        project.Deactivate();

        //workaournd for tracking issue
        project.ManagerData = null;
        project.EmployeesList = null;

        await projectRepository.Update(project);
        StateHasChanged();
    }

    protected void AddProject()
    {
        navigationManager.NavigateTo($"/ProjectCreator");
    }
}